/* search bar style start        search bar style start      search bar style start */

#input-section{
    margin: 21px auto 21px auto;
}

#search-input{
    border: 2px solid  teal;
    margin-right: 11px;
    text-align: center;
}

#search-button{
    background-color: teal;
    color: white;
    font-size: 1.1rem;
    font-weight: 700;
}

#search-button:hover{
    background-color: rgb(68, 228, 228);
    color: rgb(100, 100, 100);
}

/* search bar style end      search bar style end        search bar style end */



/* show length start    show length start       show length start */

#show-length{
    background-color: gray;
    color: white;
    font-weight: 600;
    text-align: center;
    border-radius: 5px;
    margin: 25px auto 25px auto;
    padding: .5rem 0 .5rem 0;
    display: none;
}

/* show length end    show length end       show length end */








/* show-warning start        show-warning start       show-warning start*/

#show-warning{
    background-color: darkred;
    text-align: center;
    color: white;
    border-radius: 5px;
    padding: 1rem 0 1rem 0;
    font-weight: 600;
    display: none;
}


/* show-warning end        show-warning end       show-warning end*/






/* show search result style start   show search result style start  */

#show-result{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
}

.searched-image{
    height: 21rem;
    border-radius: 3px;
}
.searched-text-content{
    margin-top: 1rem;
}

#quered-info{
    color: rgb(0, 117, 138);
}

/* show search result style end     show search result style end  */